/* /* .socialicons-container {
  border: 1px solid white;
  width: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
/* .socialicons-container {
  border: 1px solid white;
  width: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 250px;
} */

.socialicons-container {
  /* border: 1px solid white; */
  width: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 120px;
  left: 5%;
  transform: translateX(-50%);
}
