.sidebar_container {
  width: 288px;
  height: 100vh;
  border-radius: 0px 32px 32px 0px;
  background: #292929;
  position: fixed;
}

.sidebar_components {
  display: flex;
  flex-direction: column;
}

.sidebar_logo_container {
  /* border: 1px solid white; */
  width: 288px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar_logo_container > p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Pacifico;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar_token_container {
  /* border: 1px solid white; */
  background: #f30050;

  width: 288px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar_token_container > p {
  color: #f7f9f9;

  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.sidebar_pair_container {
  /* border: 1px solid white; */
  width: 288px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar_pair_container > p {
  color: #f7f9f9;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
