.searchbar_container {
  display: flex;

  align-items: center; /* Align items vertically center */
}

.searchbar_container > input {
  width: 435px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #fff;
  background: linear-gradient(
    132deg,
    rgba(124, 15, 53, 0.2) 0%,
    rgba(88, 18, 102, 0.2) 100%
  );
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 40px 0 20px;
}

.searchbar_container > input::placeholder {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchbar_container > svg {
  /* padding-right: 10px; */
  margin-left: -40px;
}
